body {
  background-color: rgb(51, 178, 178);
  color: rgb(255, 255, 255);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
}
canvas {
  outline: 5px solid white;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.file {
  display: none;
}
.button {
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  outline: 3px solid white;
  display: inline-block;
  border-radius: 7px;
  transition: background-color 0.5s;
  cursor: pointer;
}
.imagedisplay {
  outline: 5px solid white;
}
#part1 {
  float: left;
  padding-left: 22%;
}
#title {
  margin-top: 30px;
}
#palpart {
  padding-right: 25%;
  display: inline-block;
}
.button:hover {
  background-color: rgb(101, 218, 218);
}